*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #cecece;
}
p{
    font-size: .9rem;
    font-weight: 500;
    color: grey;
}

span{
    font-size: .9rem;
    font-weight: 500;
    color: grey;
}

 th,
    td {
      margin: 0;
      padding: 0.5rem;
     
}
